h1{
  color:white;
  text-align: center;
}
.body{
  background-size: cover;
  background-attachment: fixed;
  background:linear-gradient(black ,gray) 
  }
  p{
  color:white;
  text-align: center;
  }
  .form{
    display:block;
    text-align: center;
    block-size: 200px;
  }
  .form wrapper{

  }
  .text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 10px;
  }
  .btn{
    outline: red;
    size: 50px;
    
  }