.html{
  
}
h1{
  color:black;
  text-align: center;
}
.body{
  background-color: whitesmoke;
  background-size: cover;
  background-attachment: fixed;
  image-resolution:unset
  }
  p{
  color: black;
  text-align: center;
  }
  